In [1]:
# LetÂ´s prototype a model to predict stock prices

In [4]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [8]:
tsla_df = yf.download(tickers='TSLA', 
                      start='2019-01-01', 
                      end='2019-12-31', 
                      progress=False)
tsla_df.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2018-12-31  22.519333  22.614000  21.684000  22.186666  22.186666   94534500
2019-01-02  20.406668  21.008667  19.920000  20.674667  20.674667  174879000
2019-01-03  20.466667  20.626667  19.825333  20.024000  20.024000  104478000
2019-01-04  20.400000  21.200001  20.181999  21.179333  21.179333  110911500
2019-01-07  21.448000  22.449333  21.183332  22.330667  22.330667  113268000